* {
	margin: 0px;
	padding: 0px;
	outline: none;
	font-family: Open Sans,Helvetica Neue,sans-serif;
}

body {
	width: 100%;
    background-color: #EDEEF0;
    font-family: arial;
    flex-direction: column;
}

a {
	text-decoration: none;
	color: #2a5885;
}

a:hover {
	text-decoration: underline;
}

header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 42px;
	background-color: #507299;
}

#wrapperHeader {
	margin: 0px auto;
	width: 950px;
	height: 40px;
}

#logotype {
	float: left;
	width: 160px;
	height: 40px;
	background: url('images/logotype.png') no-repeat;
	background-size: 33px;
	background-position: 0px 4px;
	cursor: pointer;
}

#logotype:active {
	background-position: 0px 5px;
}

#search {
	margin: 7px 0px 0px;
	padding: 0px 0px 0px 25px;
	width: 225px;
	height: 27px;
	border: transparent;
	background: url('images/search.png') no-repeat #31537A;
	background-position: 7px 7px;
	border-radius: 15px;
	color: #C0CDDB;
	font-size: .75em;
	box-sizing: border-box;
}

#search:focus {
	background-color: #FFF;
	color: #000;
}

#titleEng {
	padding-top: 12px;
	float: right;
	text-align: center;
	width: 120px;
	height: 40px;
	color: #FFF;
	font-weight: bold;
	font-size: .75em;
	cursor: pointer;
	box-sizing: border-box;
}

#titleEng:hover {
	background-color: #486991;
}

#titleEng:active {
	background-color: #43648C;
}
#wrapper{	
	display: flex;
	justify-content: space-around;
	padding: 30px 0 105px 0;
}
#leftcol{
	align-content: center;
	padding: 14px 0 0 0;
	text-align: center;
	margin-right: 100px;
	padding-left: 60px;
	margin-left: 200px;
}
#maintxt{

  	font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;

}
#subtxt{

	margin-top: 8px;
	font-size: 14px;
    color: #626f7a;
    line-height: 20px;
    margin-bottom: 32px;

}
#rightcol{
	align-content: center;
	width: 320px;
    min-height: 625px;
    margin-right: 300px;
}
.win{
	background-color: white;
    margin-top: 15px;
    padding-right: 25px;
    border-radius: 4px;
}
.win1{
	margin-top: 40px;
    background-color: white;
    border-radius: 4px;
}
.win2{
	background-color: white;
    margin-top: 30px;
    padding-right: 25px;
    border-radius: 4px;
}
#refs{
	display: flex;
	justify-content: center;
    margin-top: 15px;
}
#Android{
	padding: 7px 16px 8px;
    width: 90px;
    margin: 0;
    cursor: pointer;
    text-align: center;
    background: 0 0;
    border: 0;
    border-radius: 4px;
    font-size: 12px;
    background: url(images/icoAndroid.png) no-repeat;
    background-position: -0.1px 3px;
}
#IPhone{
	padding: 7px 16px 8px;
    margin: 0;
    width: 90px;
    cursor: pointer;
    text-align: center;
    background: 0 0;
    border: 0;
    border-radius: 4px;
    font-size: 12px;
    background: url(images/icoIos.png) no-repeat;
    background-position: -0.1px 3px;
    margin-left: 50px;
}
#allpr{
	font-size: 12px;
    margin-top: 20px;
}
#foot{
	display:flex;
	width:100%;
	justify-content: center;
}
footer{

  	width:1010px;
  	margin-bottom: 35px;
}
#line{
	color: #e1e5e9;
    width: 1010px;
}
#content{
	display: flex;
	font-size: 13px;
	justify-content: space-around;
	margin-top: 24px;
}
#left{
    color: #C0CDDB;
}
#mid{
	margin-left: 100px;
}
#right{
	margin-left: 100px;
}
.lowrefs{
	padding: 2px 5px;
	cursor: pointer;
}
#fsttim{
	text-align: center;
    padding-top: 17px;
    font-size: 13px;
    font-weight: 700;
    margin-left: 20px;
}
#headtxt{
    width: 500px;
    height: 42px;
}
.log{
	width: 265px;
    height: 29px;
    font-size: 14px;
    margin-left: 25px;
    margin-bottom: 15px;
    border: 1px solid #d3d9de;
    border-radius: 3px;
    padding: 4px 2px 4px;
}
#firstone{
	margin-top: 25px;
}
.pass{
	width: 264px;
    height: 29px;
    font-size: 14px;
    margin-left: 25px;
    border: 1px solid #d3d9de;
    margin-bottom: 15px;
    border-radius: 3px;
    padding: 4px 2px 4px;
}
#pictel{

}
#logbtn{
	margin-right: 15px;
	margin-top: 5px;
	border-radius: 3px;
	width: 100px;
	font-size: 14px;
    line-height: 20px;
    padding: 7px 16px 8px;
    margin: 0;
    cursor: pointer;
    text-align: center;
    background: 0 0;
    background-color: #5181b8;
    border: 0;
    color: #FFF;
}
#btn{
	display:flex;
	margin-left: 25px;
	padding-bottom: 30px;


}
#forgot{
	padding-top: 12px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    color:#2a5885;
    margin-left: 20px;
}
#momreg{
	text-align: center;
	margin-left: 20px;
	color: #656565;
    font-size: 12.5px;
    padding: 5px 0 21px 0;
}
#date{
	margin: 0 0 10px 1px;
	font-size: 13px;
	font-weight: 500;
	color: #939393;
	font-weight: bold;
	margin-left:25px;
}
#day{
	color: #7c7f82;
    width: 70px;
    padding: 7px 1px 7px 7px;
    text-align: left;
    border: 1px solid #d3d9de;
    border-radius: 3px;
    font-size:14px;
}
#month{
	color: #7c7f82;
    width: 100px;
    padding: 7px 1px 7px 7px;
    text-align: left;
    border: 1px solid #d3d9de;
    border-radius: 3px;
    font-size:14px;
}
#year{
	color: #7c7f82;
    width: 70px;
    padding: 7px 1px 7px 7px;
    text-align: left;
    border: 1px solid #d3d9de;
    border-radius: 3px;
    font-size:14px;
}
#select{
	display:flex;
	justify-content: space-around;
	margin-left: 25px;
}
#contreg{
	color: #fff;
    cursor: pointer;
    background-color: #4bb34b;
    text-align: center;
    border-radius: 3px;
    font-size: 14px;
    margin-left: 25px;
    border: 0;
    font-weight: bold;
    width: 270px;
    height: 32px;
}
#regbtns{
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	margin-bottom: 20px;
}
#fbreg{
	color: #fff;
    cursor: pointer;
    background-color: #1b6dd1;
    text-align: center;
    border-radius: 3px;
    font-size: 14px;
    margin-left: 25px;
    border: 0;
    font-weight: bold;
    width: 270px;
    height: 32px;
    margin-top: 20px;
    margin-bottom: 25px;
    display: flex;
    align-content: center;
    align-items: center;
}
#pict{
    padding-left: 5px;
    padding-right: 40px;
}
#tritext{
	margin: 30px 0 20px 0;
    padding: 25px;
    text-align: center;
    color: #818c99;
    font-size: 13px;
    line-height: 18px;
}